.ember-modal-overlay {
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50; }

.ember-modal-dialog {
  z-index: 50;
  position: fixed; }
  .ember-modal-dialog.ember-modal-dialog-in-place {
    position: relative; }

.ember-modal-dialog {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px #222;
  padding: 10px; }

.ember-modal-overlay.translucent {
  background-color: rgba(128, 128, 128, 0.77); }

body,
html {
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: #e6e6e6;
  height: 100%; }

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }

.carousel-indicators {
  bottom: -40px; }

.carousel-control.left,
.carousel-control.right {
  background-image: none; }

.carousel {
  max-width: 940px;
  margin: 50px auto; }

iframe {
  width: 540px;
  height: 304px; }

.opaque-hover {
  opacity: 0.9; }

.opaque-hover:hover {
  opacity: 1.0; }

/*
--------------------------------------------------------------------------------
MAIN
--------------------------------------------------------------------------------
*/
.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1; }

.cd-fixed-bg {
  position: relative;
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1; }

.cd-fixed-bg-content {
  position: absolute;
  left: 50%;
  top: 20%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px; }

.cd-scrolling-bg {
  position: relative;
  /*min-height: 100%;*/
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2; }

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto; }
  .cd-container .container-image {
    padding: 1em 0 1em 2em;
    border-radius: 10px;
    height: 300px; }
  .cd-container p {
    text-align: left;
    font-size: 1.8em;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 100px; }
  .cd-container h2 {
    font-size: 2.4em; }
  .cd-container h3 {
    text-align: left;
    font-size: 2.8em; }

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both; }

.fixed-col {
  height: 300px; }
  .fixed-col h3 {
    margin: 0; }
  .fixed-col p {
    font-size: 1.5rem; }
  .fixed-col img {
    height: 220px;
    transition: height 0.3s;
    -webkit-transition: height 0.3s; }

/*
--------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------
*/
.cd-scrolling-bg.cd-color-1 {
  background-color: #e6e6e6;
  color: #186218; }

.cd-scrolling-bg.cd-color-2 {
  background-color: #99a478; }

.cd-scrolling-bg.cd-color-3 {
  background-color: #96c785; }

/*
--------------------------------------------------------------------------------
THE IMAGE BACKGROUNDS
--------------------------------------------------------------------------------
*/
.cd-fixed-bg.cd-bg-1 {
  background-image: url(http://localhost:3000/assets/frontend/images/green-grass.jpg); }

.cd-fixed-bg.cd-bg-2 {
  background-image: url(http://localhost:3000/assets/frontend/images/bike-ride.jpg); }

.cd-fixed-bg.cd-bg-3 {
  background-image: url(http://localhost:3000/assets/frontend/images/gym-bike.jpg); }

.cd-fixed-bg.cd-bg-4 {
  background-image: url(http://localhost:3000/assets/frontend/images/cd-background-4.jpg); }

.cd-fixed-bg.cd-bg-5 {
  background-image: url(http://localhost:3000/assets/frontend/images/vegetables.jpg); }

.cd-fixed-bg.cd-bg-6 {
  background-image: url(http://localhost:3000/assets/frontend/images/park-image.jpg); }

.cd-fixed-bg.cd-bg-7 {
  background-image: url(http://localhost:3000/assets/frontend/images/food-plate.jpg); }

/*
--------------------------------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------------------------------
*/
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed; }
  .cd-fixed-bg h1,
  .cd-fixed-bg h2 {
    font-weight: 300; } }

@media only screen and (min-width: 768px) {
  .navbar-collapse {
    background-color: black; } }

.ember-modal-dialog {
  right: -100%;
  bottom: 0;
  z-index: 30000;
  transition: all 1000ms linear; }
  .ember-modal-dialog button.close {
    padding: 1em 0; }
  .ember-modal-dialog img {
    display: block;
    margin: auto;
    padding: 0 2em; }
  .ember-modal-dialog .modal-header,
  .ember-modal-dialog .modal-footer {
    text-align: center;
    border: none; }
    .ember-modal-dialog .modal-header img,
    .ember-modal-dialog .modal-footer img {
      display: block;
      margin: 0.5em auto;
      height: 2.5em; }

.show-dialog {
  right: 2%; }

.modal-backdrop {
  background-color: transparent !important; }

#call-to-action {
  padding-top: 10em; }
  #call-to-action h2 {
    padding: 0;
    margin: 0; }
  #call-to-action address {
    font-size: 1.7em;
    color: #e6e6e6; }

.cd-fixed-bg {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  .cd-fixed-bg h1 {
    letter-spacing: 2px;
    margin-top: 0;
    padding-top: 2em;
    font-size: 3.5em;
    line-height: 2em; }
  .cd-fixed-bg h1,
  .cd-fixed-bg h2,
  .cd-fixed-bg h3,
  .cd-fixed-bg p,
  .cd-fixed-bg li {
    color: #e6e6e6; }
  .cd-fixed-bg h2 {
    margin-top: 2em;
    line-height: 2em; }
  .cd-fixed-bg form,
  .cd-fixed-bg table,
  .cd-fixed-bg table tr,
  .cd-fixed-bg label {
    background-color: transparent;
    border: none;
    color: #e6e6e6; }

#goals li {
  font-size: 2em;
  margin-bottom: 0.5em; }

.jumbo {
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  width: 500px;
  margin: auto; }

.cd-scrolling-bg form,
.cd-scrolling-bg table,
.cd-scrolling-bg table tr,
.cd-scrolling-bg label {
  background-color: transparent;
  border: none; }

.cd-scrolling-bg img {
  height: 20em;
  width: auto; }

.cd-scrolling-bg img.pull-left {
  margin: 1em 2em 0 0; }

.cd-scrolling-bg img.pull-right {
  margin: 1em 0 0 2em; }

.cd-scrolling-bg h3.heading {
  margin-bottom: 0.3em;
  margin-bottom: 0.3em;
  font-size: 2.2em;
  font-weight: bold;
  display: block;
  padding-bottom: 1px; }

#training .img-center {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto; }

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videowrapper iframe {
  background: url(http://localhost:3000/assets/frontend/images/evolved-training.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 90%; }

/**
 * Checkbox Five
 */
input[type="radio"],
input[type="checkbox"] {
  margin: 1px /9 20px 20px;
  line-height: normal; }

.checkboxFive {
  width: 45px;
  position: relative;
  float: left; }
  .checkboxFive input[type="checkbox"] + label,
  .checkboxFive input[type="radio"] + label {
    margin-left: 0; }

.checkboxFive {
  margin-top: 15px; }
  .checkboxFive .checkbox-text {
    font-size: 1.3rem; }

/**
 * Create the box for the checkbox
 */
.checkboxFive label {
  cursor: pointer;
  position: absolute;
  width: 45px;
  max-width: 150%;
  height: 35px;
  top: 0;
  left: -2px;
  background: #eee;
  border: 3px solid #fff;
  border-radius: 5px; }

/**
 * Display the tick inside the checkbox
 */
.checkboxFive label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 34.5px;
  height: 17px;
  background: transparent;
  top: 0;
  left: 2px;
  border: 7px solid #5d9333;
  border-radius: 5px;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/**
 * Create the hover event of the tick
 */
.checkboxFive label:hover::after {
  opacity: 0.5; }

/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
  opacity: 1; }

/*
--------------------------------------------------------------------------------
FORMS
--------------------------------------------------------------------------------
*/
form {
  margin: auto;
  text-align: left; }

.checkbox-q {
  vertical-align: top;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 50px; }

.checkbox-text {
  vertical-align: top;
  text-align: left;
  padding-left: 1em;
  padding-top: 1.3em; }
  .checkbox-text label {
    font-size: 2.4em;
    font-weight: normal; }

#goals-form {
  width: 550px; }

/*# sourceMappingURL=http://localhost:3000/assets/frontend/assets/frontend.css */
