
body,
html {
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
  height: 100%; }

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }

.carousel-indicators {
  bottom: -40px; }

.carousel-control.left, .carousel-control.right {
  background-image: none; }

/*
--------------------------------------------------------------------------------
MAIN
--------------------------------------------------------------------------------
*/
.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1; }

.cd-fixed-bg {
  position: relative;
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1; }

.cd-fixed-bg-content {
  position: absolute;
  left: 50%;
  top: 20%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white; }

.cd-fixed-bg-content {
  margin-top: 100px; }
  .cd-fixed-bg-content h1,
  .cd-fixed-bg-content h2 {
    color: #e6e6e6; }
  .cd-fixed-bg-content h2 {
    margin-top: 2em;
    line-height: 2em; }
  .cd-fixed-bg-content form,
  .cd-fixed-bg-content table,
  .cd-fixed-bg-content table tr,
  .cd-fixed-bg-content label {
    background-color: transparent;
    border: none;
    color: #e6e6e6; }
  .cd-fixed-bg-content .checkboxFive {
    margin-top: 15px; }
    .cd-fixed-bg-content .checkboxFive .checkbox-text {
      font-size: 1.3rem; }

.cd-scrolling-bg {
  position: relative;
  /*min-height: 100%;*/
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2; }
  .cd-scrolling-bg form,
  .cd-scrolling-bg table,
  .cd-scrolling-bg table tr,
  .cd-scrolling-bg label {
    background-color: transparent;
    border: none; }
  .cd-scrolling-bg .checkboxFive {
    margin-top: 15px; }

iframe {
  width: 540px;
  height: 304px; }

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto; }
  .cd-container .container-image {
    padding: 1em 0 1em 2em;
    border-radius: 10px;
    height: 300px; }
  .cd-container p {
    text-align: left;
    font-size: 2em;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 100px; }
  .cd-container h3 {
    text-align: left;
    font-size: 3em; }

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both; }

.first-item {
  margin-top: 120px; }

.fixed-col {
  height: 300px; }
  .fixed-col p {
    font-size: 1.5rem; }
  .fixed-col img {
    height: 220px;
    transition: height 0.3s;
    -webkit-transition: height 0.3s; }
  .fixed-col img:hover {
    height: 250px;
    font-size: 1.3rem; }

/*
--------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------
*/
.cd-scrolling-bg.cd-color-1 {
  background-color: #3d3536; }
  .cd-scrolling-bg.cd-color-1 h3,
  .cd-scrolling-bg.cd-color-1 p {
    color: #a6989a; }

.cd-scrolling-bg.cd-color-2 {
  background-color: #99a478;
  color: #3d3536; }

.cd-scrolling-bg.cd-color-3 {
  background-color: #96c785;
  color: #3d3536; }

/*
--------------------------------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------------------------------
*/
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed; }
  .cd-fixed-bg h1,
  .cd-fixed-bg h2 {
    font-weight: 300; } }

@media only screen and (min-width: 768px) {
  .navbar-collapse {
    background-color: black; } }

/*
--------------------------------------------------------------------------------
BLOCKQUOTE
--------------------------------------------------------------------------------
*/
blockquote {
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
  background: transparent;
  color: #343434;
  border-left: 10px solid #808b5e;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’"; }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p {
  display: inline; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

/*
--------------------------------------------------------------------------------
FORMS
--------------------------------------------------------------------------------
*/
form {
  margin: auto;
  text-align: left; }

.form-heading {
  font-size: 2.5em !important; }

.checkbox-q {
  vertical-align: top;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 50px; }

.checkbox-text {
  vertical-align: top;
  text-align: left;
  padding-left: 1em;
  padding-top: 1.3em; }
  .checkbox-text label {
    font-size: 2em;
    font-weight: normal; }

#wants-form {
  max-width: 55rem; }

#goals-form {
  max-width: 30rem; }

#conditions-form {
  width: 100%; }

input[type="radio"],
input[type="checkbox"] {
  margin: 1px /9 20px 20px;
  line-height: normal; }

/**
 * Checkbox Five
 */
.checkboxFive {
  width: 25px;
  position: relative;
  float: left; }
  .checkboxFive input[type="checkbox"] + label,
  .checkboxFive input[type="radio"] + label {
    margin-left: 0; }

/**
 * Create the box for the checkbox
 */
.checkboxFive label {
  cursor: pointer;
  position: absolute;
  width: 45px;
  max-width: 150%;
  height: 35px;
  top: 0;
  left: -2px;
  background: #eee;
  border: 3px solid #fff;
  border-radius: 5px; }

/**
 * Display the tick inside the checkbox
 */
.checkboxFive label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 34.5px;
  height: 17px;
  background: transparent;
  top: 0;
  left: 2px;
  border: 7px solid green;
  border-radius: 5px;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/**
 * Create the hover event of the tick
 */
.checkboxFive label:hover::after {
  opacity: 0.5; }

/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
  opacity: 1; }

/*
--------------------------------------------------------------------------------
THE IMAGE BACKGROUNDS
--------------------------------------------------------------------------------
*/
.cd-fixed-bg.cd-bg-1 {
  background-image: url(http://localhost:3000/assets/frontend/images/life.jpg); }

.cd-fixed-bg.cd-bg-2 {
  background-image: url(http://localhost:3000/assets/frontend/images/bike-ride.jpg); }

.cd-fixed-bg.cd-bg-3 {
  background-image: url(http://localhost:3000/assets/frontend/images/gym-bike.jpg); }

.cd-fixed-bg.cd-bg-4 {
  background-image: url(http://localhost:3000/assets/frontend/images/cd-background-4.jpg); }

.cd-fixed-bg.cd-bg-5 {
  background-image: url(http://localhost:3000/assets/frontend/images/vegetables.jpg); }

.cd-fixed-bg.cd-bg-6 {
  background-image: url(http://localhost:3000/assets/frontend/images/park-image.jpg); }

/*# sourceMappingURL=http://localhost:3000/assets/frontend/assets/frontend.css */
