/*
--------------------------------------------------------------------------------
THE IMAGE BACKGROUNDS
--------------------------------------------------------------------------------
*/
.cd-fixed-bg.cd-bg-1 {
  background-image: url(images/green-grass.jpg);
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url(images/bike-ride.jpg);
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url(images/gym-bike.jpg);
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url(images/cd-background-4.jpg);
}
.cd-fixed-bg.cd-bg-5 {
  background-image: url(images/vegetables.jpg);
}
.cd-fixed-bg.cd-bg-6 {
  background-image: url(images/park-image.jpg);
}
.cd-fixed-bg.cd-bg-7 {
  background-image: url(images/food-plate.jpg);
}
