/*
--------------------------------------------------------------------------------
BLOCKQUOTE
--------------------------------------------------------------------------------
*/
blockquote {
  text-align: left;
  text-align: justify;
  text-justify: inter-word;

  // font-size: 1.8em;
  background: transparent;
  color: $text-color;
  border-left: 10px solid darken(#99a478,10%);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
