body,
html {
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: $lg-background-color;
  height: 100%;
  font-size: 16px;
}

// force show scrollbar
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

// CAROUSEL
.carousel-indicators {
  bottom: -40px;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.carousel {
  max-width: 940px;
  margin: 50px auto;
  padding: 0 10px;
}

//VIDEO
iframe {
  width: 540px;
  height: 304px;
}
.opaque-hover {
  opacity: 0.9;
}
.opaque-hover:hover {
  opacity: 1.0;
}

/*
--------------------------------------------------------------------------------
MAIN
--------------------------------------------------------------------------------
*/
#goals {
  h3 {
    font-style: italic;
  }
  ul {
    padding-top: 2em;
  }
}
.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}
.cd-fixed-bg {
  position: relative;
  min-height: 45em; //100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg-content {
  position: absolute;
  left: 50%;
  top: 20%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
}
.cd-scrolling-bg {
  position: relative;
  /*min-height: 100%;*/
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  padding: 10px;
  margin: 0 auto;
  .container-image {
    padding: 1em 0 1em 2em;
    border-radius: 10px;
    height: 300px;
  }
  p {
    text-align: left;
    font-size: 1.8em;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 100px;
  }
  h2 {
    font-size: 2.4em;
  }
  h3 {
    text-align: left;
    font-size: 2.8em;
  }
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

//FIXED COLUMNS FOR APP & PRODUCT IMAGE LINKS
.fixed-col {
  height: 300px;
  h3 {
    margin: 0;
  }
  p {
    font-size: 1.5em;
  }
  img {
    height: 220px;
    transition: height 0.3s;
    -webkit-transition: height 0.3s;
  }
}
