.product-info.row.container
	%hr
	/ img.right src="assets/images/busy-greens-apple-front.png"
	%p When I did my research and realized that consuming a greens powder was cheaper, more convenient, and had the same nutritional benefits as juicing fresh fruits and vegetables, the only thing left to do was find the tastiest one available.
	%p I needed to find one in the first place because I had splipped into the habit of skipping my green juice in the morning because it just wasn't convenient to make it with three kids vying for my attention.
	%p I now add Busy Greens to my shaker with the VegOmega+ and plantastic pro and I'm done when I'm on the run!  
	%h3
		%strong So here’s what's inside:
	%ul
		%li The antioxidant power of 10 servings of dark, leafy greens and brightly colored fruits
		%li 55 natural, organic, non-GMO ingredients (freeze dried to keep nutrients in!)
		%li A complete formulation to combat the entire spectrum of free radicals
		%li Refreshing and great tasting green apple or strawberry flavour


	%h3
		%strong Also added:
	%ul
		%li Cinnamon for healthy blood sugar levels
		%li Milk thistle for detoxification
		%li Digestive enzymes for healthy elimination
		%li Oat beta glucan for healthy cholestorel
		%li SuperSorb for enhanced absorption and better results

	%p You won't find a better greens powder than this. I know because I've tried. Add it to your nutrition arsenal today for just $2 a day.

	%h3
		%strong Do you know more about the incredible benefits of phytonutrients and antioxidants?
	%ul
		%li Cellular nourishment and protection*
		%li Naturally increase your energy level
		%li Assist your weight-loss efforts by reducing your appetite and improving your metabo%lism*
		%li Reduce inflammation and help relieve your stiff joints and achy muscles*
		%li Lower your risk of cancer, diabetes, heart disease and stroke*
		%li protect your vision from age-related vision loss and blindness (ARMD)*
		%li Help you maintain strong bones*
		%li Support your immune function and increase your resistance to infections*
		%li Reduce allergy symptoms without drowsiness*
		%li Improve your mental acuity, protecting your mind and memory*
		%li Detoxify toxic metals and chemicals*
		%li Help slow aging of your skin and dulling of your hair*
		%li Restore healthy digestion*
		%li Inhibit the hardening of arteries*
	%h3
		%strong Still want to know more about busy greens?
=render 'partials/faq'
