#accordion-faq.accordion
  %h3 FAQ
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q1"}
      %a.accordion-toggle
        Why is Busy Greens my best choice in phytonutrition?
    #q1.accordion-body.collapse
      .accordion-inner
        %p Busy Greens was formulated to be the most complete, highest quality, organic phytonutrition product available that is proven to be the most absorbable, making it the most powerful in your body! Most people like it because it is the best tasting!

  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q2"}
      %a.accordion-toggle
        Cant I just take a multi-vitamin instead?
    #q2.accordion-body.collapse
      .accordion-inner
        %p Busy Greens is made from a combination of several dozen whole super foods, whole super food extracts and concentrates, herbs, enzymes, special spices and super fibers. No multi-vitamin comes close to supplying all the phyto-nutrients and the health benefits they bring. One would have to buy a half dozen of so many different bottles of pills, taking somewhere around two dozen tablets a day, at the cost of over $120+ a month, to even come close!

  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q3"}
      %a.accordion-toggle
        How can Busy Greens get all these phytonutrients and antioxidants into just one scoop of powder?
    #q3.accordion-body.collapse
      .accordion-inner
        %p No expense has been spared in purchasing the finest organic greens, fruits and veggies grown and processed specifically for their high phytonutrient content. Single phytonutrients like quercitin (found richest in apples and onions), resveratrol (as in red wine), ellagic acid (raspberries, cherries) and catechins (green tea) lycopene (tomatoes), and lutein(greens) are also added.

  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q4"}
      %a.accordion-toggle
        Is Busy Greens a meal replacement?
    #q4.accordion-body.collapse
      .accordion-inner
        %p No, not my itself. Busy Greens contains only 50 calories per serving, with very little protein and fat. Busy Greens is micronutrient dense (vitamins, minerals, phytonutrients), not macronutrient dense (carbs, proteins and fats.) A good meal replacement is to add one scoop of Busy Greens to one scoop of Plantastic Pro and VegOmega+ with 600mls of water or unsweetened coconut or almond milk.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q5"}
      %a.accordion-toggle
        Can pregnant and nursing mums take Busy Greens?
    #q5.accordion-body.collapse
      .accordion-inner
        %p As Busy Greens is just a super food concentrate, there is no contraindication in pregnancy or nursing as such. Ask your doctor and show him or her the product. Busy Greens is a great way to get good nutrition during pregnancy or while nursing. Many pregnant mums have also reported less cravings when taking Busy Greens!
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q6"}
      %a.accordion-toggle
        How do I take Busy Greens?
    #q6.accordion-body.collapse
      .accordion-inner
        %p Mix one level scoop (provided in your canister), with 600-800 ML of ice cold, pure water, unsweetened almond or coconut milk. Stir briskly or shake in a nano shaker and enjoy one to three times a day. Busy Greens may best be taken alone on an empty stomach. First thing in the AM is ideal! Busy Greens is also good mixed with VegOmega+ and Plantastic Pro. It is much easier to take super green foods daily in almost any circumstance when all you need to add is water! Adding fruit juice adds carbohydrates and calories as well as adding considerably to the real cost of taking a super greens mix. For those few who still wish to mix Busy Greens with other juices, diluted in water fruit juice is our best recommendation, especially organic, unfiltered apple juice or fresh squeezed orange juice with pulp! 
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q7"}
      %a.accordion-toggle
        Is Busy Greens organic?
    #q7.accordion-body.collapse
      .accordion-inner
        %p Busy Greens is made with organic ingredients.
        %p Busy Greens is manufactured in a Certified GMO free facility. Every ingredient that can be organic, is organic. However, there is, for example, no organic powdered lecithin currently available, though we do use non-GMO lecithin. All ingredients are pesticide and herbicide free. The herbs are all water extracted, not solvent or alcohol extracted and none of the ingredients are irradiated.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q8"}
      %a.accordion-toggle
        Is stevia a natural sweetener? Is it safe?
    #q8.accordion-body.collapse
      .accordion-inner
        %p Stevia is a natural plant leaf. In over 120 articles about stevia written before 1958, and over 900 articles published to date, no author has ever reported any adverse human health consequences associated with the consumption of stevia leaf. 
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q9"}
      %a.accordion-toggle
        Can even infants benefit from Busy Greens?
    #q9.accordion-body.collapse
      .accordion-inner
        %p Yes! Although the best way for infants to benefit from Busy Greens is if their mother is taking it and breast feeding. Children under 6 should take ½ servings.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q10"}
      %a.accordion-toggle
        I eat fruit and vegetables every day. Can I still benefit from Busy Greens?
    #q10.accordion-body.collapse
      .accordion-inner
        %p Are you eating from a wide variety of fresh or lightly cooked fruits and vegetables of all the different colors? We must remember, many authorities are concerned that our mass produced foods, even the fresh ones, while thankfully abundant, are %p While most nutritionists, dietitians and health practitioners today say 7-9 servings is optimal, age, size, exposure to environmental toxins, medications, disease states, and even high activity levels may increase the optimal to as high as 13 servings a day.
        %p Admittedly, there are a small percentage of people who eat so well they easily include more than a half dozen daily servings of a wide variety of fresh and lightly cooked organically grown, vine ripened fruits and vegetables of all the colors, plus the special spices, herbs, fermented and super foods found in Busy Greens. Even they have days when their schedule or travels won't allow it.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q11"}
      %a.accordion-toggle
        I have food allergies. Can I take Busy Greens?
    #q11.accordion-body.collapse
      .accordion-inner
        %p Busy Greens contains NO yeast, egg, preservatives, MSG, glutamate derivatives, alcohol, artificial flavoring, salt, starch, maltodextrin, wheat, corn, stabilizers, solvents, or dairy. Many of the food ingredients contained in Busy Greens like spirulina, and quercitin (from onions) have been shown to have antihistamine properties.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q12"}
      %a.accordion-toggle
        What is the purpose of Busy Greens?
    #q12.accordion-body.collapse
      .accordion-inner
        %p The purpose of a Busy Greens is to help provide the phytonutrition of 10 + servings of fruits and vegetables a day. Phytonutrients 1) function as antioxidants, 2) modulate immune, anti-inflammatory, detoxification and hormonal functions, and 3) help optimize hemodynamics.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q14"}
      %a.accordion-toggle
        What are some of the specific potential benefits of all the different nutrients found in the Busy Greens supplement?
    #q14.accordion-body.collapse
      .accordion-inner
        %ul
          %li Good Source of Vitamins and/or Minerals: Spirulina, chlorella, spray dried barley grass juice, spray dried organic fruit and vegetable juice powder, and kelp are all "nutrient dense" foods, full of natural organic vitamins and minerals.
          %li Rich in Antioxidants: Spirulina, chlorella, barley and wheat grass , quercitin, green tea, resveratrol, grape seed extract, grape skin extract, carrot, broccoli, sweet potato, cabbage, spinach, parsley, kale, tomato, blueberry, cranberry, are all known for their rich antioxidant phytonutrient content. No "vitamin pill" even comes close!
          %li Anti Fatigue*: Spirulina, chlorella, wheat and barley grass juice are rich in natural B vitamins, iron, and chromium. Kelp supports healthy thyroid function, and cinnamon helps insulin work to get blood sugar into your cells.
          %li Weight Control*: Green tea and kelp both support a more optimal fat burning metabolism. Cinnamon helps insulin work to get blood sugar into your cells, limiting sugar cravings. So does the stevia. The green algae grasses are potassium rich, often acting like natural "water pills". Next time you need a lift, forego the sweets and try a refreshing glass of Busy Greens.
          %li Help Relieve Symptoms of Fibromyalgia and/or Arthritis*: Spirulina, chlorella, wheat and barley grass, grape seed extract, enzymes and kelp have all been reported as having anecdotal success with joint and muscle pains and stiffness.
          %li Help Maintain Strong Bones*: Spirulina, chlorella, wheat and barley grass, spray dried organic fruit and vegetable juice powders are highly alkaline. A more alkaline diet helps keep your body from using its alkaline reserves of calcium and magnesium in your bones in order to keep the body from becoming too acid. This robbing of your alkaline reserve is the basis for one of the mechanisms causing osteoporosis.
          %li Helps Maintain Younger Looking Hair and Skin*: Nutrient and antioxidant rich, and fortified with white tea, Busy Greens helps slow skin aging. Plus, by supporting healthy elimination and detoxification, this stressful burden is lessened for the skin, which is also an important organ of elimination.
          %li Help Support the Immune System and/or Antiviral, Antibacterial Activity*: Spirulina, chlorella, wheat and barley grass, green tea, cinnamon, and prebiotics have each been reported to help us ward off infection and keep pathogenic and opportunistic bacteria at bay.
          %li Help To Improve Mental Acuity and Protect Your Memory*: Soy lecithin is the richest natural source of phosphatidyl choline, a vital brain memory nutrient. Essential fatty acids from algae, dark greens, and rice bran are rich sources of natural essential fatty acids, the "good fats". Our brains are 60 fat! Plus, the antioxidants in berries have been proven to slow brain aging!
          %li Help Support Detoxification and Remove Toxic Heavy Metals from the Body*: Spirulina, chlorella, wheat and barley grass chelate heavy metals. Milk thistle, artichoke, cruciferous vegetables and red beet root support liver detoxification.
          %li Support Ease of Digestion and Elimination*: Plant enzymes, milk thistle, artichoke, and soy lecithin all support digestion and/or elimination. Plus the chlorophyll in spirulina, chlorella and barley grass juice, along with the aloe vera, tends to have a soothing and healing effect. All this combines to often help eliminate the root causes of heartburn and indigestion.
          %li Help Reduce Risk of Heart Disease and Lower Cholesterol*: Soluble rice bran, soy lecithin, green tea, grape seed extract, spirulina, chlorella, green grass spouts, plus all the other antioxidants, can help keep our hearts strong, our arteries clear and flexible. Vitamin K from spinach and kale, is important in inhibiting atherosclerotic plaques (hardening of the arteries or atherosclerosis.) Enzymes can all help keep our blood from spare clotting, and are of value in limiting stroke and heart attacks. Help Reduce Risk of Cancer and/or Demonstrates Antitumor Activity*. Barley grass juice, spirulina, chlorella, apple pectin, green tea, grape seed extract, beets and cruciferous vegetables can all help our bodies antioxidant and anti-mutagen immune defense systems.
          %li Support the Eyes and Prevent Macular Degeneration*: Carrots, spinach, kale, parsley, , are antioxidant rich, especially the kind of antioxidants the eyes like, lutein and zeaxanthin, while berries are rich in retina and brain friendly anthocyanins.
          %li Help Keep You Looking And Feeling Young*: One of the reasons we age is that our cells literally become full of toxic debris and burn out (oxidize). By incorporating super foods that promote detoxification and fight oxidation (antioxidants), most anti-aging specialists agree that we can slow the aging process!
        %p * The above statements have not been evaluated by the FDA. Busy Greens is not intended for the diagnosis, treatment, or prevention of disease.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q15"}
      %a.accordion-toggle
        Can I make Busy Greens less sweet?
    #q15.accordion-body.collapse
      .accordion-inner
        Yes, in two ways. First, you may simply add more water. Second, you may add lemon or lime juice according to your taste preferences.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q16"}
      %a.accordion-toggle
        Can I take Busy Greens if I am on prescription blood thinners?
    #q16.accordion-body.collapse
      .accordion-inner
        %p Busy Greens contains less than 5 mcg of Vit K per serving, and is not contraindicated when taking blood thinners. Of course, all prescription medical questions should be directed to your physician and pharmacist.

  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q17"}
      %a.accordion-toggle
        Can Busy Greens be enjoyed by patients with candidiasis (candida infection)?
    #q17.accordion-body.collapse
      .accordion-inner
        %p Busy Greens is perfect for people suffering from enteric or systemic candida infections. Phytonutrients have many beneficial effects on the immune system. They also promote Phase I and II liver detoxification. Busy Greens has several natural ingredients, like cholagogues, lipotropics, and enzymes, that promote normal bile flow, digestive function, and elimination. Bile is a powerful yeast killer! Those with severe candidiasis must often restrict their intake of fruits and grains, as they contain too much sugar. Sugar is the food that yeasts thrive on through fermentation. With Busy Greens, the diet is supplemented richly with a wide variety of phytonutrients, but with comparatively low carbohydrates. Therefore, Busy Greens, also being free of common allergens, yeasts, and molds, may be integral to a well rounded approach to candidiasis control and prevention.

  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q18"}
      %a.accordion-toggle
        Do you use hexane extraction of soy lecithin?
    #q18.accordion-body.collapse
      .accordion-inner
        %p Hexane extraction in not used in our non- GMO soy lecithin.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q19"}
      %a.accordion-toggle
        How many servings are in a container of Busy Greens?
    #q19.accordion-body.collapse
      .accordion-inner
        %p There are 30 twelve gram servings of Busy Greens in each packet. As the density and weight of a scoop can be affected by many factors, sometimes a few more scoops are available, sometimes a few less. Keep in mind Busy Greens is sold by weight, not by volume. Settling will occur and it is normal. This is a function of the super fine processing that allows Busy Greens to mix so instantly without lots of clumping, as is the case with some other greens products.

  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q20"}
      %a.accordion-toggle
        How much Iodine is in Busy Greens?
    #q20.accordion-body.collapse
      .accordion-inner
        %p Although levels will vary somewhat, there are always very small amounts of Iodine in a serving of Busy Greens, mostly from the organic sea kelp.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q21"}
      %a.accordion-toggle
        I am allergic to soy. Can I take Busy Greens?
    #q21.accordion-body.collapse
      .accordion-inner
        %p Busy Greens does not contain soy protein which is what some people can be allergic to. Busy Greens does contain soy lecithin which is made from soybean oil, not protein. Soy lecithin "is the mixed phosphatide product obtained from soybean oil by a degumming process. (It contains many healthy nutrients like choline, cephalin and inositol phosphatides, together with glycerides of soybean oil and traces of tocopherols, glucosides and pigments.") Therefore, it is highly unlikely that soy allergy is a problem.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q22"}
      %a.accordion-toggle
        I am caffeine sensitive. Can I enjoy Busy Greens?
    #q22.accordion-body.collapse
      .accordion-inner
        %p Busy Greens is essentially caffeine free. The green tea/white tea are decaffeinated, high polyphenol extracts. The total tea extracts are less than 100mg in every serving and consist mostly of polyphenol catechin concentrates. Even if that 100mg was 3 caffeine, that would be 3 mg a serving, but it is much less than that. It is common for people to feel energy when taking Busy Greens, especially in the beginning. Rest assured that Busy Greens contains no stimulants. When first enjoying Busy Greens, we recommend you take your dose in the early morning, upon rising, until you are sure it is not interfering with sleep.

  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q23"}
      %a.accordion-toggle
        I am sugar sensitive and on a very low carb diet? Is Busy Greens OK for me?
    #q23.accordion-body.collapse
      .accordion-inner
        %p Busy Greens is not only OK, but it is an excellent supplement for those on low carb, low calorie and low sugar diets. Busy Greens has only 8g of carbohydrates. It tastes so good in plain, cold water that adding high sugar juices is not necessary to make it more palatable. Busy Greens supplies many of the phytonutrients that are missing in restricted low carb and low calorie diets. Plus, Busy Greens has a systemic alkalizing effect, which helps counterbalance high acid ash protein and fat rich diets. Busy Greens does not contain added sugars of any kind. The 8 grams of sugars listed on the label are carbohydrates that occur naturally. Busy Greens is formulated with the highest grade stevia, a safe and natural leaf used for centuries. Stevia is promoted as an exceptional aid in weight loss and weight management because it contains no calories and reduces one's craving for sweets and fatty foods. Preliminary research data indicates that Stevia may actually reset the hunger mechanism in people where the pathway between the hypothalamus and the stomach has become obstructed. If so, Stevia would help people to feel satiated sooner, helping them to eat less. To maximize this effect, stevia sweetened products are best taken 20 minutes before meals.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q24"}
      %a.accordion-toggle
        I have hypothyroidism. Is the iodine in Busy Greens safe for me?
    #q24.accordion-body.collapse
      .accordion-inner
        %p One serving of Busy Greens can supply a small amount of iodine but always check with your primary physician if you have a hypothyroid issue.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q25"}
      %a.accordion-toggle
        Is it bad to mix all the different kinds of fruits and vegetables in Busy Greens?
    #q25.accordion-body.collapse
      .accordion-inner
        %p Some nutritionists recommend a food-combining regime that separates the enjoyment of most fruits and vegetables at the same time. Such recommendations are given to maximize the ease of digestion and minimize gas and acid formation through fermentation. (Fermentation is a process related to the anaerobic conversion of sugar to carbon dioxide and alcohol by yeast.) Ninety-eight percent of the naturally occurring sugars in Busy Greens come from vegetables, oat bran and rice bran. There is very, very little fruit sugar, as we mostly use super concentrated fruit phytonutrient extracts. With the very minimal amounts of natural fruit sugar content left, fermentation is simply not a problem. Indeed, it is a common anecdotal report that Busy Greens helps digestion and elimination!
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q26"}
      %a.accordion-toggle
        Are there any fillers in Busy Greens?
    #q26.accordion-body.collapse
      .accordion-inner
        %p There are no fillers in Busy Greens. Every ingredient is added to give Busy Greens a better flavour, quality, color and texture. Every ingredient is Busy Greens has a health benefit!
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q27"}
      %a.accordion-toggle
        What are antioxidants?
    #q27.accordion-body.collapse
      .accordion-inner
        %p Antioxidants are natural substances that fight harmful molecules called free radicals. Free radicals are a normal byproduct of living things creating energy. They are also produced from smoking, radiation, sunlight, high sugar diets, polyunsaturated and trans fats, and chemical pollutants. Even exercising causes free radicals! If well nourished and not over stressed, our bodies create their own antioxidants, but never enough to prevent the slow but steady "burning up" of our tissues. This oxidation damage builds up over time, leading eventually to the common signs and symptoms of aging, such as wrinkles, arthritis, cataracts, macular degeneration, emphysema, heart disease, strokes and cancer. It is interesting to note that the longer a species of animal lives, the more antioxidants it has in its body. Much evidence now exists that a diet high in antioxidants from fruits, vegetables, sprouted shoots and greens, algae, herbs and spices helps delay the onset of the above common complications and disease of aging by supplying extra warriors in the never ending battle against free radical damage. Busy Greens is rich in these essential antioxidants.
  .accordion-group
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q28"}
      %a.accordion-toggle
        What are phytonutrients?
    #q28.accordion-body.collapse
      .accordion-inner
        %p Phytonutrients are chemicals from plants. These chemicals act as antioxidants and detoxifiers that protect the plant from oxidants and toxins. Both present externally and internally generated, that would rob vitality and sooner or later cause the plant to suffer sickness and premature death. There are many different kinds of phytonutrients. When we include an abundant, wide variety of these plant nutrients in our diets, we get some of the very same protection and benefits! This is why safe, consumable plants high in phytonutrients are called super foods.

    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q29"}
      %a.accordion-toggle
        What are the "Natural Flavors" in Busy Greens?
    #q29.accordion-body.collapse
      .accordion-inner
        %p The natural flavours in Busy Greens are proprietary. (That means our secret recipe). We can assure you that all the natural flavors are 100 natural, plant sourced, vegan extracts. There are no MSG, other glutamate based, or any neuro- excitatory peptides or additives or "flavour enhancers."
    .accordion-heading{"data-parent" => "#accordion-faq", "data-toggle" => "collapse", :href => "#q30"}
      %a.accordion-toggle
        What is the glycemic index for Busy Greens?
    #q30.accordion-body.collapse
      .accordion-inner
        %p The glycemic index measures how fast and how far blood sugar rises after you eat a food that contains carbohydrates. The glycemic load of a food is calculated by multiplying the glycemic index by the amount of carbohydrate in grams provided by a food and dividing the total by 100. No studies have been done on the glycemic index because the glycemic load of Busy Greens must be negligible. One 12 gm serving contains 8 gm of carbohydrate, of which only 3 gm is simple sugars. But let's say for arguments sake that all 8 gm of Busy Greens had a GI score of 100. The Glycemic Load would be (100 x 8) / 100 = 8 GL, very low as you can see. Because Busy Greens tastes so good in plain water, with perhaps an added squeeze of lemon, no high sugar glycemic juices need to be added.
