#spree-header
  %header#header{"data-hook" => ""}
    .container
      .row
        %figure#logo.col-xs-12.col-sm-6.col-lg-4{"data-hook" => ""}
          %a{:href => "/shop/"}
            %img{:alt => "Lean green white logo", :src => "/images/lean-green-white-logo.png"}
        =render 'partials/menu_button'
        =render 'partials/social_media'
        =render 'partials/navbar_right'
    -# = render 'partials/main_navbar'
