#spree-header
  %header#header{"data-hook" => ""}
    .container
      .row
        %figure#logo.col-lg-4.col-md-4.col-sm-5.col-xs-7{"data-hook" => ""}
          %a{:href => "/shop/"}
            %img{:alt => "Lean green white logo", :src => "/images/lean-green-white-logo.png"}

        =render 'partials/social_media'
        =render 'partials/navbar_right'
