.product-info
	%hr
	%h3
		Strong Benefits:
	%ul
		%li Recovery, and regeneration of internal tissues and muscle mass
		%li Healthy immune system
		%li Normal response to stress and cortisol levels
		%li Balances mood
		%li Healthy blood sugar and blood lipid levels
		%li Appetite and satiety
		%li Detoxification
		%li Allergen-friendly
		%li Highly soluble
		%li Cholesterol free
		%li Contains all essential amino acids
		%li Slowly digested for extended energy
		%li Supersorb technology for enhanced absorption and better results

	%h3
		Strong Product inclusions that make PLANTASTIC PRO unique:

	.logo-border
		=image_tag "wellbody_logo.png"
		%span Support for Stress
		%p WellBody•365™ is the only ingredient in the world containing two patented extracts that are clinically tested to help support immune function and reduce stress. Maitake mushroom andSensoril® are used to increase the body’s resistance to stress and lower serum cortisol levels.

	.logo-border
		=image_tag "prohydrolase_logo.gif"
		%span For Recovery
		%p Rebuilding Muscle and Assisting in Digestion. Ideal for anyone with an active lifestyle, this amazing enzyme represents a breakthrough in protein nutrition. ProHydrolase™ is a bio-sufficient supplement designed to build muscle mass and accelerate muscle recovery. It also helps aid with digestion of the proteins in nanopro vegan which means no bloating or discomfort.

	.logo-border
		=image_tag "vitashine_logo.gif"
		%span Vegan Vitamin D3
		%p To support healthy immunity Vitashine is a 100% vegan, organic, natural, non-GMO vitamin D3 product. This exclusive vegan vitamin D3 known as cholecalciferol, is an oil extract that comes from a special, organic plant source called lichen, which has been used for centuries and is rich in nutrients vital to health.
