#social-media.col-lg-3.col-md-3.col-sm-3.col-xs-6
	%span
		=link_to "#{fa_icon 'facebook-official'}".html_safe, "https://www.facebook.com/leangreenfitness", target:"blank"
	%span
		=link_to "#{fa_icon 'youtube'}".html_safe, "https://www.youtube.com/channel/UCExHWydCTdrj_0q6WTqqpLQ", target:"blank"
	%span
		=link_to "#{fa_icon 'instagram'}".html_safe, "https://www.instagram.com/?hl=en", target:"blank"
