.product-info
	%hr
	%p VegOMEGA+ is the product I am most excited about!
	%p It's a Heart Brain & Vision SuperFood made from Flaxseeds & Marine Algae.
	%p It is designed with plant powered warriors like you and I in mind! It's also for everyone who no longer wants to put up with fish burps and taking rancid fish oil capsules. 
	%p The fact is too many people have been led to believe they need to consume fish, or pop rancid fish oil/krill oil capsules every day to get their Omega 3's. Not only do you get your DHA and ALA from VegOMEGA+, you also get vitamins E, B12, D3, B6, and B9 as well. 
	%p This orange and pineapple flavoured powder blends easily in a shaker cup with cold water or can simply be added to your smoothie.

	%h3 It truly is a breakthrough functional food formula because VegOMEGA+ has:
	%ul
		%li ALA (alpha-linolenic-acid) from specially stabilized, organic golden flaxseed
		%li DHA oil from plant marine algae, not fish, and
		%li Synergistic natural vitamins E, D3, B6, B12 and folic acid.

	%h3 VegOmega+ also has:

	%ul
		%li 5 g of flaxseed per serving
		%li 1000 mg Omega-3 ALA per serving
		%li 100 mg vegan DHA per serving
		%li Good source of fiber (2.5 grams per serving)
		%li 50 mg lignans per serving
		%li Vegan, non-GMO and made with organic ingredients
		%li Great-tasting pineapple orange flavor!
		%li SuperSorb® Enhanced Delivery Systems to help maximize absorption
		%li 70mg of Meriva® (curcumin, soy phospholipids complex)
		%li ORAC 4500 per serving
