
{{#slick-carousel
	class="ember-carousel"
	autoplay=true
	autoplaySpeed=5000
	slidesToShow=1
	slidesToScroll=1
	infinite=true
	dots=true
	swipeToSlide=true
	arrows=true
	touchMove=true
	initialSlide=3
	speed=200}}
	<div>
		<img src="assets/images/home-slide1.jpg">
	</div>
	<div>
		<img src="assets/images/home-slide2.jpg">
	</div>
	<div>
		<img src="assets/images/home-slide3.jpg">
	</div>
	<div>
		<img src="assets/images/home-slide4.jpg">
	</div>
{{/slick-carousel}}
