{{!-- <div class="modal fade" id="slide-bottom-popup" data-keyboard="false" data-backdrop="false">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <p>I'm a pop sliding from the bottom that's suppose to stick</p>
    <a href="" class="btn-primary btn-plain btn popup-button">CTA</a>
  </div> --}}
  <!-- /.modal-body -->
{{!-- </div> --}}
<!-- /.modal -->
{{!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#slide-bottom-popup">launch</button> --}}

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
{{!-- // <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.js">
// </script> --}}
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>

// alert('test');
setTimeout(function() {
  $('#myModal').modal('show');
}, 3000); // milliseconds

</script>
