@import "variables";
/*
--------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------
*/

.cd-scrolling-bg.cd-color-1 {
  background-color: $lg-background-color;//$lg-green-dark;
  color: darken(#228B22,10%);
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #99a478;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: darken(#b4d7a8,10%);
}
