@import "variables";
.modal {
	z-index: 100000;
	margin-top: 15%;
	.modal-header {
		text-align: center;
		color: $lg-green-darker;
	}
	.modal-body {
		margin: auto;
		li {
			font-size: 1.3em;
			margin-bottom: 0.8em;
			line-height: 1.2em;
		}
	}
	.modal-content {
		border-radius: 15px;
	}
	.modal-dialog.modal-lg {
		max-width: 600px;
		.modal-body {
			width: 460px;
		}
	}
	.modal-dialog.modal-sm {
		max-width: 300px;
		.modal-body {
			width:250px;
		}
	}
}
